@font-face {
    font-family: 'hoefler_textregular';
    src: local('./hoefler_texthoelfler_text/hoefler_text-webfont.woff2') format('woff2'),
    local('./hoelfler_text/hoefler_text-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

