@font-face {
    font-family: 'hoefler_textregular';
    src:
        /*local('./hoelfler_text/hoeflertext-regular-webfont.woff2') format('woff2'),*/
        /*local('./hoelfler_text/hoeflertext-regular-webfont.woff') format('woff'),*/
        url('./hoefler_text/HoeflerText-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

