.collection {
    text-align: center;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(242, 210, 221, 1);
    padding: 50px 0;
}

.collection:first-child {
    border: 0;
}

.collection .season {
    font-size: 40px;
    text-transform: uppercase;
}

.collection .year sup {
    font-size: 20px;
    left: 8px;
}

.collection .index-slide img,
.single-collection .index-slide img {
    width: 100%;
}

.collection .title {
    font-size: 26px;
    margin-top: 9px;
}

.collection .title-label {
    margin-right: 5px;
}

.collection .description {
    width: 50%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.2em;
    margin-top: 15px;
}

.single-collection {
    display: flex;
}
.single-collection > div {
    flex: 1;
}

.single-collection .left {
    text-align: center;
}
.single-collection .carousel-slide {
    height: 100vh !important;
    margin: 0 auto;
    max-width: inherit !important;
}
.carousel-control.right,
.carousel-control.left {
    background: 0;
    background-image: none !important;
}
