body {
  font-family: 'hoefler_textregular';
}
header {
  margin-bottom: -74px;
}

.navbar-header {
  width: 100%;
  text-align: center;
  float: left;
}

.navbar-brand {
  float: none;
}

.navbar {
  background: none;
  border-bottom: 0;
  box-shadow: none;
}

.nav {
  font-family: 'hoefler_textregular';
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
}

.nav a {
  color: #000;
}

.footer-content {
  text-align: center;
}

footer {
  height: 185px;
  background: #e1e1e1;
  display: flex;
  align-items: center;
  margin-top: 75px;
}
.instagram-header {
  text-transform: uppercase;
}

.navbar-brand > img {
  width: 130px;
  margin: 0 auto;
}

.moved-nav-header {
  position: relative;
  top: -68px;
  /*left: 42px;*/
}

.footer-content > div {
  padding: 2px 2px;
}
.instagram-images img {
  padding: 0px 1px;
}